sudo: required
service:
  - docker


before_install:
  - docker build -t kwanovations/docker-react -f Dockerfile.dev .
  
script:
  - docker run -e CI=true kwanovations/docker-react npm run test

deploy:
  provider: elasticbeanstalk
  region: "us-east-1"
  app: "docker-react"
  env: "DockerReact-env"
  bucket_name: "elasticbeanstalk-us-east-1-643185916889"
  bucket_path: "docker-react"
  on:
    branch: master
  access_key_id: $AWS_ACCESS_KEY
  secret_access_key: $AWS_SECRET_KEY
